*{
  box-sizing: border-box;
  padding: 2px;
  margin: 0;
}
.one{
  width: 150px;
  height: 150px;
}
.one:first-child{
  background-color: yellow;
}
.one:nth-child(2){
  background-color: blue;
}
.one:nth-child(3){
  background-color: red;
}
